<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="#" th:object="${post}">
    <h1 th:text="*{title}"></h1><br>

    <div>
        <p th:text="${post.getContent()}" ></p>
    </div>

    <a th:href="@{/posts/edit/{id} (id=${post.getId()})}"><button type="button">Изменить</button> </a>
</form>
<br>
<hr>
<br>
<!--<form th:action="@{/comments/{idUser}/post/{id} (idUser=${#.getIdUser()})   (id=${post.getId()}) }">-->


<!--</form>-->
</body>
</html>