<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${user.username}"></title>
</head>
<body>

<form action="#" th:object="${user}">
    <h1 th:text="*{username}"></h1><br>
    <h2 th:text="*{email}"></h2><br>
    <h3 th:text="*{password}"></h3><br>

        <p th:text="*{getCreate_up}"></p>
        <p th:text="*{getUpdate_at}"></p>

        <div th:each="post : *{postsList}">
            <p th:text="${post.getTitle()}"></p>

            <a th:href="@{/posts/getPost/{id}(id=${user.getId()})}">

             Посмотреть
            </a>
            <a th:href="@{/posts/getPost( id=${user.getId()} , post=${post.getId()}) }">

                Go
            </a>
        </div>





</form>
<!--<form name="form2" th:action="@{/posts/getPost}" method="get">-->
<!--    <input type="text" th:value="${user.getId()}" name="idUser"/>-->
<!--    <input type="text" th:value="${post.getId()}" name="postId"/>-->
<!--    <button type="submit">Go</button>-->
<!--</form>-->

<a th:href="@{/posts/{id}/create (id=${user.getId()})}"> <button type="submit" text="New Post"> N Post </button></a>
</body>
</html>